html, body {
    margin: 0;
    padding: 0;
}

.editor {
    padding: 16px;
}

.tools {
    float: left;
    vertical-align: middle;
    background: #dfdfdf;
}

.tools .graphic-object {
    display: block;
    width: 64px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #aaa;
    margin: 2px;
    background: #fff;
    text-align: center;
}

.canvas-area {
    float: left;
    width: 640px;
    height: 640px;
    border: 1px solid #aaa;
}

#mainCanvas {
    width: 100%;
    height: 100%;
}

.inspector-area {
    float: left;
    background: #dfdfdf;
    padding: 8px;
    display: none;
}

.hidden {
    display: none;
}
